@charset "utf-8";
html {
	/*font-size: 62.5%;*/
}
.row{
	margin-right: 0!important;
    margin-left: 0!important;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box}
*,body{padding:0px;	margin:0px;font-family: "微软雅黑";}
li{ list-style-type:none;}
table{}
i{ margin:0px; padding:0px; text-indent:0px;}
img{ border:none; max-width: 100%;}
a{ text-decoration:none; color:#399bff;}
a.active,a:focus{ outline:none!important; text-decoration:none;}
ol,ul,p,h1,h2,h3,h4,h5,h6{ padding:0; margin:0}
a:hover{ color:#06c; text-decoration: none!important}
.warningbox .warn-detail-list ul a:hover{ color:#c5ccff; text-decoration: none!important;}
.warningbox .warn-detail-list ul a{color:#c5ccff;; text-decoration: none!important; }


.clearfix:after, .clearfix:before {
	display: table;
	content: " "
}
 .clearfix:after {
	clear: both
}
.pulll_left{float:left;}
.pulll_right{float:right;}
/*谷哥滚动条样式*/

  ::-webkit-scrollbar {width:5px;height:5px;position:absolute}
  ::-webkit-scrollbar-thumb {background-color:#5bc0de}
  ::-webkit-scrollbar-track {background-color:#ddd}

/***/

body{ background:#000d4a url(../images/dapingbg.jpg) center top; background-size:cover;color:#666; font-size: .1rem;}
.boxall:after, .boxfoot:after {
    border-right: 2px solid #02a6b5;
    right: 0;
}
.boxall{ border: 1px solid rgba(25,186,139,.17); padding:0 .3rem .3rem .3rem;  background: rgba(255,255,255,.04) url(../images/line.png); background-size: 100% auto; position: relative; margin-bottom: .3rem; z-index: 10;}
.boxall:before,
.boxall:after{ position:absolute; width: 0.8rem; height: 0.8rem; content: "";  border-top: 2px solid #02a6b5; top: 0;}
.boxall:before,.boxfoot:before{border-left: 2px solid #02a6b5;left: 0;}
.boxall:after,.boxfoot:after{border-right: 2px solid #02a6b5; right: 0;}
.alltitle{ font-size:.24rem; color:#c5ccff; text-align: center; line-height: .6rem; border-bottom:1px solid rgba(255,255,255,.2)}

.boxfoot{ position:absolute; bottom: 0; width: 100%; left: 0;}
.boxfoot:before,
.boxfoot:after{ position:absolute; width: 0.8rem; height: 0.8rem;  content: "";border-bottom: 2px solid #02a6b5; bottom: 0;}

.weather{ position:absolute; right:.3rem; top:0; line-height: .75rem;}
.weather img{ width:.37rem; display: inline-block; vertical-align: middle;}
.weather span{color:rgba(255,255,255,.7); font-size: 18px; padding-right: 5rem;}
/* .head {
    height: 1.05rem;
    background-size: 100% 100%;
    position: relative;
} */
.head h1 {
    color: #c5ccff;
    text-align: center;
	font-size:24px;
  
    height: 0.76rem;
    letter-spacing: 5px;
    padding-top: 0.05rem;
    line-height: 0.6rem;
    height: 50px;
    line-height: 50px;
    color: #c5ccff;
    text-align: center;
    font-family: cursive;
    
}
.mainbox {
    padding:0.8rem .4rem 0rem .4rem;
}
div{
	box-sizing: border-box;
}
.logo{
	position: absolute;
	left: 30px;
	top:20px;
	display: flex;
}
.logo .setimg{
	width: 127px;
	height: 67px;
	margin-right:10px;
}
.logo img{
	width: 100%;
	height: 100%;
	max-width: 100%;
}
.wrap{
	height: 100%;
	/* background-color: #091029; */
	color:#c5ccff;
	text-align: center;
	position: relative;
	margin: -10px  auto 0px auto;
	
}
.content{
	box-sizing: border-box;
	display: flex;
	justify-content:space-between;
	/* background-color: #091029; */
}
.hd{
	position: relative;
}
.hd img{
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	display: block;
}
.cont_left{
	width: 25%;
	padding-left: 0.5%;
}
.cont_center{
	width: 49%;
	margin:0 20px;
	background-size: 100% 100%;
	position: relative;
}
.cont_right{
	width: 25%;
	height: 100%;
	padding-right: 0.5%;
}
.left_ups{
	background: url(../images/line.png) no-repeat center center;
	background-size: 100% 100%;
	padding-bottom: 20px;
	/* margin-top: 30px; */
	position: relative;
}
.left_swiper{
	padding-bottom: 20px;
	position: relative;
}
.set_line{
	background: url(../images/line.png) no-repeat center center;
	background-size: 100% 100%;
	/* margin-top: 30px; */
}
.right_up{
	padding-bottom: 20px;
	position: relative;
}
.titTxt{
	width: 90%;
	padding-left: 20px;
	padding-top:25px;
}
.titTxt i{
	background: url(../images/circle.png) no-repeat center center;
	width: 8px;
	height: 8px;
	float:left;
	height: 28px;
	line-height: 28px;
	margin-right: 14px;
}
.titTxt span{
	height: 28px;
	line-height: 28px;
	color: #c5ccff;
	font-size: 18px;
	float: left;
}
.echart_one{
	width: 100%;
	height: 300px;
	margin:0 auto;
}
.flow .one{
	/* border:1px solid #619ad3; */
	border-radius: 5px;
	/* background-color: #619ad3; */
	width: 90%;
	margin:0 auto;
	margin-top:30px;
	font-size: 20px;
	padding:12px 0;
}
.flow .one_L{
	float: left;
	width: 50%;
}
.flow .one_R{
	float: right;
	width: 50%;
}
.flow .one .set_font{
	height: 40px;
	margin-top:15px;
	font-size: 24px;
}
.cir_or .set_font{
	width: 130px;
}
.day_visitor .set_font{
	font-size: 26px;
	margin-top:6px;
}
.cir_or .set_font .number-animate{
	margin-top:38px;
}
.one_L .set_font .number-animate{
	font-size: 24px;
}
.flow .two{
	/* border:1px solid #d65098; */
	border-radius: 5px;
	/* background-color: #d65098; */
	margin:0 auto;
	margin-top:26px;
	font-size: 20px;
	padding:12px 0;
}
.list{
	width: 100%;
	border-radius: 5px;
	padding:0 20px;
	height: 340px;
	background: url(../images/line.png) no-repeat center center;
	background-size: 100% 100%;
	/* margin-top: 30px; */
}
.list_hd{
	height:50px;
	line-height: 50px;
	border-bottom: 1px solid #525860;
}
.list_hd span{
	float: left;
	font-size: 14px;
	color: #c5ccff;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.list_cont{
	position: relative;
}
.list_animate{
	position: relative;
}
.list_tr{
	border-bottom: 1px dashed #525860;
	transition: 0.5s all ease-out;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
}
.list_tr:nth-of-type(1){
	top:0;
}
.list_tr:nth-of-type(2){
	top:45px;
}
.list_tr:nth-of-type(3){
	top:90px;
}
.list_tr:nth-of-type(4){
	top:135px;
}
.list_tr:nth-of-type(5){
	top:180px;
}
.list_tr span{
	float: left;
	font-size: 14px;
	color: #c5ccff;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	height: 45px;
	line-height: 45px;
}
.list_tr .first1{
	background: url(../images/icon01.png) no-repeat center center;
}
.list_tr .first2{
	background: url(../images/icon02.png) no-repeat center center;
}
.list_tr .first3{
	background: url(../images/icon03.png) no-repeat center center;
}
.list_tr .first4{
	background: url(../images/icon04.png) no-repeat center center;
}
.list_tr .first5{
	background: url(../images/icon05.png) no-repeat center center;
}
/* .number_k{
	margin-top:40px;
} */
.number_box{
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.money{
	width: 74px;
	height: 100px;
	line-height: 100px;
	background:rgba(19,31,58,0.1);
	border-radius: 5px;
	float: left;
}
.money img{
	vertical-align: middle;
	width: 100%;
	max-height: 100%;
	display: inline-block;
	
}
.numbers{
	width: 74px;
	height: 110px;
	line-height: 110px;
	background:rgba(19,31,58,0.1);
	border-radius: 5px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}
.dot{
	float: left;
	height: 110px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-top: 40px;
	margin-left: 10px;
}
.numbers span{
	display: block;
	background: url(../images/numbers/number_s.png) no-repeat center center;
	width: 60px;
	height: 1100px;
	margin: 0 auto;
	transition: .2s all ease-in-out;
	transform: translate(0px);
}
.day_visitor{
	position: absolute;
	left:0;
	top:460px;
	z-index: 20;
	display: flex;
	/* background-color: #091029; */
}
.day_visitor span{
	color:#c5ccff;
	font-size: 16px;
}
.map_box{
	width: 100%;
	height: 320px;
	position: relative;
}
.china_map{
	/* margin-top: 30px; */
	width: 100%;
	height: 100%;
	
}
.swiper-pagination-bullet{
	background:#c5ccff;
}
.circle .one{
	display: flex;
	justify-content: space-around;
	margin-top:20px;
}
.order_cl{
	width: 104px;
	height: 104px;
	position: relative;
}
.order_cl img{
	width: 104px;
	height: 104px;
	position: absolute;
	left:0;
	top:0;
	animation:myfirst 1.2s linear infinite;
}
.order_cl span{
	display: block;
	position: absolute;
	left:0;
	top:-16px;
	height: 104px;
	line-height: 140px;
	width: 100%;
	text-align: center;
	color: #49bcf7;
	font-size: 10px;
}
.order_c{
	display: flex;
}
.cir_or{
	height: 104px;
	line-height: 104px;
	font-size: 30px;
	margin:0 10px;
	display: flex;
}
.cir_or span{
	width: 130px;
	display: inline-block;
}
.cir_or i{
	font-size: 14px;
}
.clock{
	position: absolute;
	right: 20px;
	top:100px;
}
.shadow{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 29;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.tip{
	position: fixed;
	left: 50%;
	top:50%;
	width: 400px;
	height: 200px;
	margin-left:-200px;
	margin-top: -100px;
	z-index: 30;
	background-color: #c5ccff;
	padding: 15px;
	color: #333;
	display: none;
}
.tip_hd{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
.tip_content{
	font-size: 16px;
	height: 70px;
	line-height: 70px;
	padding-left: 20px;
}
.tip_ft{
	width: 80px;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	background-color: #3e86ff;
	text-align: center;
	color:#c5ccff;
	border-radius: 5px;
	margin-top: 15px;
	cursor: pointer;
}
.one_L .number-animate-dot,.one_R .number-animate-dot{
	display: none;
	font-size: 20px;
}
.day_visitor .number-animate-dot{
	display: none;
}
.cir_or .number-animate-dot{
	display: none;
}
.totalMoney .number-animate-dom{
	width: 65px;
	margin-left: 10px;
	/* background-color: rgba(19,31,58,0.5); */
}
.totalMoney .number-animate .number-animate-dom span {
	height: 100px;
	background-image:-webkit-linear-gradient(bottom,#5f98d0,#89b3dd,#c2d8ed,#f0f5fb,#f8fafd);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-weight: bold;
	line-height: 100px;
}
.totalMoney .number-animate .number-animate-dot span{
	padding-top:20px;
	height: 80px;
}
.totalMoney .number-animate{
	font-size: 70px;
	height: 100px;
	line-height: 100px;
}
@keyframes myfirst{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
	
}
.loading{
	width: 80px;
	height: 80px;
	position: absolute;
	left:50%;
	top:80px;
	margin-left: -40px;
	display: block;
}
.loading img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.set_an{
	display: flex;
	justify-content: center;
}
.dotted,.percent{
	align-self:center
}



/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {  }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px){  }

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200) {  }




